{% extends 'navbar.html'%}
{% block content %}
<div class="form-outr">
<div class="container-fluid">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="h1">This is Wordcloud generator.</h1>
      <h3 class="h2">Here you can genrate interactive images from your text</h3>
        <form method="post" action=""  enctype="multipart/form-data">
          <div class="outr-box">
          <div class="form-fields">
            <label class="control-label">Enter your text</label>
            <input class="form-control"type="textarea" name="file" placeholder="paste your text here">
          </div>
          <div class="form-fields">
            <label for='sell' class="control-label">Choose Font style</label>
            <select class="form-control" id="sel1" name="font_details">
              <option>burnstowndam</option>
              <option>actionj</option>
              <option>SaucerBB</option>
              <option>AlienFur</option>
              <option>Amazing_Kids</option>
              <option>AstronBoyWonder</option>
              <option>Austhina_Brush_Calligraphy_Scratch</option>
              <option>fighting</option>
              <option>BLAME</option>
              <option>Maxtield</option>
              <option>Magenta_BBT</option>
              <option>QuirkyRobot</option>
              <option>space_age</option>
              <option>SPACECRAFT</option>
              <option>induction</option>
              <option>MIST</option>
              <option>MYSCARS</option>
              <option>oreos</option>
              <option>punk</option>
              <option>ShogunsClan</option>
            </select>
            </div>
          </div>
          <div class="outr-box">
            <div class="form-fields">
              <label for='sell' class="control-label">Choose background color</label>
              <input type="text" list="background_color"/ name = 'background_color' >
              <datalist id="background_color">
                <option>white</option>
                <option>black</option>
              </datalist>
            </div>

            <div class="form-fields">
                <label for="sel12" class="control-label">Choose predefine Fig size</label>
                <select class="form-control" id="sel12" name="image_size">
                  <option>None</option>
                  <option>1024×576</option>
                  <option>1280×720(HD)</option>
                  <option>1366×768</option>
                  <option>1920×1080(FHD)</option>
                </select>
              </div>
            </div>
              <div class="outr-box">
              <div class="form-fields">
                <label for="sel13" class="control-label">Custom Fig size</label>
              <div class="two-fields ">
                <input  style="display:flex" type="text" name="custom_height" value="" placeholder="Height">
                <input style="display:flex" type="text" name="custom_width" value="" placeholder="Width">
              </div>
            </div>
              </div>

          <button class="btn btn-success b1"type="submit">Upload</button>
        </form>
        <br>

    </div>
  </div>
{% endblock %}
</div>
</div>

